@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(#050994, #8F0260);
    overflow-x: hidden;
}

#particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}